@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto-serif: var(--font-noto-serif);
  --font-manrope: var(--font-manrope);

  /* Academic Colors */
  --color-deep-navy: #0F172A;
  --color-charcoal: #334155;
  --color-academic-gold: #B49157;
  --color-slate-neutral: #F8FAFC;
  --color-light-blue: #E2E8F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
}

